// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body, textarea {
    font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
}

input, select {
    font-family: Arial, "ＭＳ Ｐゴシック", sans-serif;
}

body {
    font-size: 13px;
}

h1 {
    font-size: 20px;
}

#content .blog-index article h1, #content .blog-index article h1 a  {
    font-size: 16px;
    padding: 2px 2px 2px 8px;
    border-left: 7px solid #999;
    border-bottom: 1px solid #999;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
    padding: 2px 5px;
    border-bottom: 1px solid #999;
}

